<!DOCTYPE html>
<head>
  <title>EVM Info</title>
  <link rel="stylesheet" href="{{url_for('static',filename='about.css')}}">
</head>
<br>
<br>
<h1 style="text-align: center;">EVENT MANAGEMENT SYSTEM</h1>
<p>*The product was first developed in 2003 for use within the UK National Health Service (NHS).<br> Since then it has been adopted widely within the NHS and also by commercial and not-for profit organisations to support their event management activity.<br>

In 2008 EventManager won a Medilink West Midlands award[2] for its contribution to delivering efficiencies in the NHS.

</p>
<p>*Event management has some application<br><br>Event schedule planning
Customized event website creation
Online event registration, ticketing and delegate management including online payment
<br>Event budgeting
<br>Lead retrieval
<br>Venue selection
<br>Event Marketing
<br>Event Networking for attendee engagement</p>
<p>
  *Event management is the application of project management to the creation and development of small and/or large-scale personal or corporate events such as festivals, conferences, ceremonies, weddings, formal parties, concerts, or conventions. It involves studying the brand, identifying its target audience, devising the event concept, and coordinating the technical aspects before actually launching the event.[1]

<br><br>*The events industry now includes events of all sizes from the Olympics down to business breakfast meetings. Many industries, celebrities, charitable organizations, and interest groups hold events in order to market their label, build business relationships, raise money, or celebrate achievement.</br></br>

<br>*The process of planning and coordinating the event is usually referred to as event planning and which can include budgeting, scheduling, site selection, acquiring necessary permits, coordinating transportation and parking, arranging for speakers or entertainers, arranging decor, event security, catering, coordinating with third-party vendors, and emergency plans. Each event is different in its nature so process of planning and execution of each event differs on basis of the type of event.</br>

<br>*The event manager is the person who plans and executes the event, taking responsibility for the creative, technical, and logistical elements. This includes overall event design, brand building, marketing and communication strategy, audio-visual production, script writing, logistics, budgeting, negotiation, and client service.</br>

<br>*Due to the complexities involved, the extensive body of knowledge required, and the rapidly changing environment, event management is frequently cited as one of the most stressful career paths
</p>
</body>
</html>