<!DOCTYPE html>
<html lang="en">
<head>
    <title>EVM</title>
    <link rel="stylesheet" href="{{url_for('static',filename='testcss.css')}}">
</head>
<body>
<h1 style="text-align: center;">EVENT MANAGEMENT SYSTEM</h1>
   <div class="row">
  <div class="column"> <div class="card">
    <image class="size" src="{{url_for('static',filename = '/marriage3.png')}}" />
    <div class="container">
      <h4><b>MARRAIGE WEDDING</b></h4>
      <p>*A wedding planner is a professional who assists with the design, planning and management of a client's wedding.<br> * Weddings are significant events in people's lives and as such, couples are often willing to spend considerable amount of money to ensure that their weddings are well-organized.      <br>  </p>
    </div>

  </div>
  </div>

    <div class="column"> <div class="card">
    <image class="size" src="{{url_for('static',filename = '/birthday.jpg')}}" />
    <div class="container">
      <h4><b>BIRTHDAY EVENTS</b></h4>
      <p> *we’ve compiled some ideas, Tiny moments of joy, like blowing out birthday candles with family and friends, are not only important, they’re a time to celebrate your life so far and look ahead to the future. <br> *We compiled a list of ideas and resources to make sure your birthday celebrations are worth remembering</p>
    </div>

  </div>
  </div>
    <div class="column"> <div class="card">
    <image class="size" src="{{url_for('static',filename = '/e1.jpg')}}" />
    <div class="container">
      <h4><b>CONFERENCE EVENT</b></h4>
      <p>*A conference is a meeting of people who "confer" about a topic. <br> *Conference types include: Academic conference, in science and academic, a formal event where researchers present results, workshops, and other activities. Athletic conference, a competitive grouping of teams, often geographical.</p>
    </div>

   </div>
    </div>
   </div>
<div class="row">
  <div class="column"> <div class="card">
    <image class="size" src="{{url_for('static',filename = '/parties.jpg')}}" />
    <div class="container">
      <h4><b>BACHELOR PARTIES</b></h4>
      <p><br>*Celebrating the groom before the big day is a popular tradition in other parts of the world too. <br>*For example, in the UK, many to-be-weds attend a stag party or "stag do" before their wedding.<br>* There are no notable differences between a bachelor party vs. a stag night—they're both prewedding events thrown in honor of a groom-to-be and can take place anywhere from a local bar to a destination abroad.
      </p>
    </div>

  </div>
  </div>


  <div class="column"> <div class="card">
    <image class="size" src="{{url_for('static',filename = '/fest.jpg')}}" />
    <div class="container">
      <h4><b>FEST PARTIES</b></h4>
      <p><br> *This is a list of festival-related list articles on Wikipedia. <br>*A festival is an event ordinarily staged by a community, centering on and celebrating some unique aspect of that community and its traditions, often marked as a local or national holiday, mela, or eid.<br>* A festival is a special occasion of feasting or celebration, usually with a religious focus.
      </p>
    </div>

  </div>
  </div>
  <div class="column"> <div class="card">
    <image class="size" src="{{url_for('static',filename = '/mosaic.jpg')}}" />
    <div class="container">
      <h4><b>MOSAIC PARTIES</b></h4>
      <p><br>*Mosaic today includes not just murals and pavements, but also artwork, hobby crafts, and industrial and construction forms.<br><br>*Traditional mosaics are made of cut small cubes of roughly square pieces of stone or hand made glass enamel of different colours, known as tesserae</p>
    </div>

  </div>
  </div>
</div>
</div>
</body>
</html>