<!DOCTYPE html>
<head>
    <br>
    <br>
  <title>Tools</title>
</head>
<body>
  <h1 style="text-align: left;">TOOLS</h1>

  <link rel="stylesheet" href="{{url_for('static',filename='tool.css')}}">
 <p>
  <h3>1. Trello::</h3>*Trello is a free app that’s well-suited for event planning. You add cards to a shared board, such as “Vendors,” then easily drag and drop cards like “Florist” or “Caterer” to different categories (sourcing, in negotiation, or signed contract, for instance).

  <br><br><h3>2. Basecamp::</h3>*Basecamp is less visual than Trello but with more features designed for larger projects and teams. Basecamp is one of the original project management tools that many event planners use.

<br><br><h3>3. Google Drive::</h3>*Google Drive isn’t an event management system, but it’s a workable solution if you don’t want to learn new software. Google Drive is a simple place to store your spreadsheets, documents, presentations, and photos.<br>

<br><br><b>4. Slack::</b>*Here’s another tool that’s great for remote work or helpful if you often struggle with finding emails buried in your inbox. You can organize team conversations in channels by project (like a specific event), topic (like catering), or team, giving everyone a transparent view of what’s going on.<br>


<br><br><h3>5. Monday::</h3>*Monday is a visual project management tool with simplified status updates so you can see quickly how your work is tracking. Whether you’re overseeing a team of in-house planners or you’re working to get all your event vendors on the same page, it’s easy to customize Monday for any collaborative project, from conferences to festivals and everything in between.<br>

  <br><br><h3>6. Eventbrite::</h3>*If you’re still using spreadsheets to manage your attendee lists or trying to manage manual payments, stop!<br>* Use Eventbrite to make ticketing, registration, and event promotion a breeze, so you can focus on perfecting your event experience.<br>* Eventbrite also replaces your library of event planning books with its relevant and searchable blog full of tips and event planning guides.

<br>

  <br><br><h3>7. Zoom::</h3>*The video meeting tool isn’t just for livestreaming your events, it can help you plan them too.<br>* Even if you’ve been using Slack forever and you and your team have worked together on multiple projects, sometimes a face-to-face conversation is the best way to hash out your event management plan or answer questions. <br>*While working remotely, Zoom makes it easy to meet with your co-creators or give a presentation to a group.<br>


<br><br><h3>8. Ideas and inspiration::</h3>*Need to centralize all your ideas, inspiration, and themes for future events? Skip the scraps of paper or searches through random phone notes and use these time-saving event planning apps instead.<br>


<br><br><h3>9. Hootsuite::</h3>*Some of the best ideas come from your audience and community on social media. Keep track of your influencers’ accounts, see what they’re talking about, and save those ideas straight to Pocket or Evernote with Hootsuite. Hootsuite sorts conversations by topic, hashtags, keywords, or followers, and you can use it to schedule your own social media posts as well.<br>

  <br><br><h3>10. Feedly::</h3>*Searching for fresh content to post on social media can be time-consuming. <br>*Use Feedly to search by subject or keywords to find relevant content sources. <br>*Your newsfeed shows the most recent content from your select sources and will be displayed for you to scroll through all in one place. <br>*You can save content to read later or share articles with other team members.<br>


</p>
</body>
</html>